/* .galleryContainer {
  display: flex;
  flex-wrap: wrap;        
  gap: 1.5rem;          
  justify-content: flex-start; 
  padding: 1rem;
  flex-grow: 1;
} */

/* .galleryItem {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
  display: flex;
  align-items: center;   
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
} */

/* .galleryContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 12px;
  padding: 10px;
}
.galleryitem{
  width: 100%;
  height: 140px;
  overflow: hidden;
  border-radius: 8px;
  background: #222;
}

.galleryitem:hover{
  transform: scale(1.2);
} */

.galleryContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 12px;
  padding: 10px;
}

.galleryItem {
  width: 100%;
  height: 140px;
  overflow: hidden;
  border-radius: 8px;
  background: #222;
  transition: transform 0.3s ease; /* smooth hover */
}

.galleryItem img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ⚡ fill container, crop if needed */
  object-position: center; /* center the image inside */
}

.galleryItemSelected {
  border: 4px solid aliceblue;
  width: 100%;
  transform: scale(0.9);
  height: 140px;
  overflow: hidden;
  border-radius: 8px;
  background: #222;
  transition: transform 0.3s ease; /* smooth hover */
}

.galleryItem:hover {
  transform: scale(1.2);
  border: 2px solid azure;
}

.filterDropdown {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.filterLabel {
  font-weight: 500;
  font-size: 14px;
}

.filterSelect {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  cursor: pointer;
  background-color: #fff;
  color: #222;
}
