/* .galleryContainer {
  display: flex;
  flex-wrap: wrap;        
  gap: 1.5rem;          
  justify-content: flex-start; 
  padding: 1rem;
  flex-grow: 1;
} */

/* .galleryItem {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
  display: flex;
  align-items: center;   
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
} */

/* .galleryContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 12px;
  padding: 10px;
}
.galleryitem{
  width: 100%;
  height: 140px;
  overflow: hidden;
  border-radius: 8px;
  background: #222;
}

.galleryitem:hover{
  transform: scale(1.2);
} */

.galleryContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 12px;
  padding: 10px;
}

.galleryItem {
  width: 100%;
  height: 140px;
  overflow: hidden;
  border-radius: 8px;
  background: #222;
  transition: transform 0.3s ease; /* smooth hover */
}

.galleryItem img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ⚡ fill container, crop if needed */
  object-position: center; /* center the image inside */
}

.galleryItemSelected {
  border: 4px solid aliceblue;
  width: 100%;
  transform: scale(0.9);
  height: 140px;
  overflow: hidden;
  border-radius: 8px;
  background: #222;
  transition: transform 0.3s ease; /* smooth hover */
}

.galleryItem:hover {
  transform: scale(1.2);
  border: 2px solid azure;
}

.filterDropdown {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.filterLabel {
  font-weight: 500;
  font-size: 14px;
}

.filterSelect {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  cursor: pointer;
  background-color: #fff;
  color: #222;
}

.galleryWrapper {
  position: relative;
}

/* Overlay for Single Image Viewer */
.SingleImageViewerContainer {
  position: fixed; /* fixed to viewport */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(145, 145, 145, 0.41); /* #91919169 equivalent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* ensure it’s above other content */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.singleViewer {
  width: 80vw;
  height: 80vh;
  background-color: #222;
  border-radius: 10px;
  overflow: hidden;
}


.btnClose{
  background-color: red;
  color: wheat;
}

.singleViewer button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}


/* cropping */
.cropContainer {
  position: relative;
  width: 100%;
  height: 80vh;
  background: #333;
}

.singleViewerWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.generateButton {
  margin-top: 10px;
  padding: 10px 18px;
  background: #1e90ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.generateButton:hover {
  background: #187bcd;
}
